body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
body{
  max-width: 2160px;
}
.hidden{
  display: none;
}
.img{
  width: 25rem;
  height:11rem;
}
#carouselExampleIndicators img{
  object-fit: cover;
  max-height: 700px;
}
#logo{
  filter: invert(1);
}
#footer-logo{
  filter: invert(1);
  max-height: 60px;
}